body {
    background-image: url(images/square.png);
}

button {
    background-color:#7892c2;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding: 0px 15px;
	text-decoration:none;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    color: rgb(224, 117, 16);
}

.sizeChange {
    display: flex;
    justify-content: center;
}

.input {
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    display: flex;
}

.container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
    height: 650px;
    min-width: 650px;
    min-height: 650px;
    margin-left: 150px;
    margin-right: 25px;
    background-image: url(images/blank.jpg);
    background-repeat: repeat;
}



.options {
    flex-direction: column;
}